<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" id="consumer" init-method="start" destroy-method="shutdown">
        <!--消费者组-->
        <property name="consumerGroup" value="consumer_page_group"></property>
        <!--配置服务端的地址-->
        <property name="namesrvAddr" value="192.168.25.129:9876"></property>
        <!--配置订阅的主题-->
        <property name="subscription">
            <map>
                <entry key="Goods_Topic" value="*"></entry>
            </map>
        </property>
        <!--消费者模式  默认是集群模式-->
        <property name="messageModel" value="BROADCASTING"></property>
        <!--设置监听器-->
        <property name="messageListener" ref="messageListenter"></property>
    </bean>

    <bean class="com.pinyougou.page.listener.PageMessageListener" id="messageListenter"></bean>


</beans>